{% extends 'base.html' %}

{% block content %}
  <h1>List Penjualan</h1>
  <div class="d-flex w-full justify-content-end"><a class="btn btn-sm btn-danger btn-secondary" href="{% url 'sales:add_sale' %}">Add Sale</a></div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode Barang</th>
        <th scope="col">Jenis Pakaian</th>
        <th scope="col">Ukuran</th>
        <th scope="col">Harga</th>
        <th scope="col">Jumlah</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
      <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{ sale.product.code }}</td>
        <td>{{ sale.product.type }}</td>
        <td>{{ sale.product.size }}</td>
        <td>{{ sale.product.price }}</td>
        <td>{{ sale.product.stock_quantity }}</td>
        <td>
          <a href="{% url 'sales:edit_sale' sale.pk %}">Edit</a>
          <a class="ml-4" href="{% url 'sales:delete_sale' sale.pk %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
